.DS_Store
.htpasswd
.htaccess
.gitignore~
media/*.gif
media/*.jpg
media/*.jpeg
media/*.png
media/*.pdf
media/*.svg
media/*.tif
media/*.tiff
media/*.eps
media/*.docx
media/*.eps
static/data/json-all/*.json
static/data/json-films/*.json
static/data/json-learning/*.json
static/data/json-live/*.json
static/data/json-detail/*.json
static/data/*
open-records-generator
