@use 'var' as v

#main_ctner_about
	margin-top: 15vw
	.section_content
		div
			width: 66.7%
			font-size: 1.75rem
			line-height: 1.5em
			&:nth-of-type(even)
				margin-left: 10%
	.section_title
		h6
			grid-column: 3 / 6 span