@use 'var' as v

#main_ctner_artist-index
	padding: 12vw 0 6vw 0
	#search_ctner
		text-align: center
		position: sticky
		margin-bottom: 7vw
		font-size: 2rem
		z-index: 500
		background: v.$bg-color
		#search_form > *
			vertical-align: bottom
		#keyword
			font-size: 2rem
			border: 0
			padding: .5vw 1vw .5vw 1vw
			width: 40%
			background-color: transparent
			border-bottom: 2px solid #000
			&:focus
				background-color: #fff
				outline: none
		#submit_search
			width: 3vw
			display: inline-block
			vertical-align: bottom
		.search_btn
			svg
				width: 100%
				polygon
					stroke: #000
					stroke-width: 2
					fill: transparent
			&:hover
				polygon
					fill: #000
			cursor: pointer
		#clear_search
			display: inline-block
			width: 3vw
	#no_result
		text-align: center
		font-size: 2rem
	#artist-index_list
		padding-left: 5vw
		padding-right: 5vw
		.artist-index_item
			font-size: 1.2rem
			// display: grid
			// grid-template-columns: repeat(12, 1fr)
			// grid-gap: 2vw
			padding: .75vw 0
			cursor: pointer
			border-bottom: 2px solid transparent
			& > *
				display: inline-block
				vertical-align: top
			.item_name
				cursor: pointer
				width: 40%
				padding-top: 0
				font-weight: 500
				@include v.outline-text-black()
				-webkit-text-fill-color: v.$bg-color
				font-size: 3rem
				height: 100%
				margin-right: 2%
			.item_tag
				width: 8%
				margin-right: 2%
			.item_link
				width: 8%
				display: none
				// float: right
				margin-right: 2vw
				& > a
					display: none
					&:first-child
						display: inline
			.item_brief
				width: 35%
				display: none
				overflow: hidden
				cursor: text
				// float: right
			&:hover
				border-bottom: 2px solid #000
				.item_name
					-webkit-text-fill-color: #000
		.artist-index_item.expanded
			padding-bottom: 2vw
			.item_name
				-webkit-text-fill-color: #000
			.item_brief
				display: inline-block
			.item_link
				display: inline-block
				& > a
					display: inline
.explodeCtner_click
	.explode
		left: 50%
		@include v.transform(translate(-35vw, 0))
#main_ctner_artist-index.viewing_search
	.item_brief
		display: block 