@use 'var' as v

#main_ctner_archive
	padding-top: 0
	.section_content
		background-color: v.$bg-color
		&:nth-of-type(2)
			margin-top: 4vw
		.content_section
			margin-top: 6vw
		.subtitle
			font-weight: 500
			font-size: 3.5rem
			line-height: 1.1em
			grid-column: 8 / 5 span
			position: sticky
			margin-left: 66.7%
			top: 10vw
			margin-bottom: 2vw
			@include v.outline-text-black()
		.img_ctner
			grid-column: 1 / 9 span
	#title_title
		template-grid-rows: auto auto
		
		&.folded
			#location
				max-height: 0
				overflow: hidden
		#info
			grid-column: 10 / 3 span
	#about_content
		#about_img
			grid-column: 4 / 9 span
			margin-bottom: 2vw
#intro_content
	.content_section
		div
			font-size: 1.75rem
			width: 66.7%
			&:nth-of-type(even)
				margin-left: 10%
	.img_ctner
		width: 80%
		img
			width: auto
			max-height:75vh
