@use 'var' as v
.main_ctner
	margin-bottom: 6vw
	border-bottom: 2px solid #000
	padding-top: 15vw
	// overflow: hidden
.main_ctner_list
	overflow: hidden
	.event
		cursor: pointer
		color: v.$main-color
		text-decoration: none
		display: block
	#upcoming_ctner
		padding: 0 5vw
		padding-bottom: 2vw
		margin-bottom: 2vw
		border-bottom: 2px solid #000
		&::after
			content:""
			display: block
			height: 0
			clear: both
		#upcoming_ctner_title
			margin-bottom:3vw
		.event_upcoming
			// display: flex
			// align-items: flex-start
			margin-bottom: -.5vw
			border-bottom: 3px solid transparent
			.event_upcoming_img
				@include v.absolute($bottom: 0)
				opacity:0
				pointer-events: none
				img 
					max-width: 45vw
					max-height: 27vw 
					display: block
			.event_upcoming_info
				@include v.absolute($bottom: 1vw, $right: 0)
				max-width: 17vw
			.event_upcoming_date
				white-space: nowrap
				font-size: 24vw
				line-height: .9em
				max-height: 17vw
				pointer-events: none
				// border-bottom: 2px solid v.$main-color
				
				@include v.outline-text-black()
				-webkit-text-fill-color: v.$bg-color
			&:hover
				border-bottom: 3px solid v.$main-color
				.event_upcoming_date
					-webkit-text-fill-color: black
				.event_upcoming_img
					opacity:1
				z-index: 10
			&:nth-of-type(odd)
				.event_upcoming_info
					margin-left: 1.5vw
			&:nth-of-type(even)
				// flex-direction: row-reverse
				.event_upcoming_date
					margin-left: 10vw
		
	.more
		font-size: 1.25rem
		color: v.$main-color
		margin: 0 auto
		text-align: center
		margin-top: 5vw
		font-weight: 500
	.ctner_title
		font-size: 1.25rem
		text-align: center
		font-weight: 500
		margin-bottom: .5vw
		
	#arch_ctner
		padding: 0 5vw
		padding-bottom: 2vw
		&::after
			content:""
			display: block
			height: 0
			clear: both
		.event_arch
			display: flex
			padding-top: 1.5vw
			border-bottom: 3px solid transparent
			font-size: 2rem
			&:hover
				border-bottom: 3px solid v.$main-color
				// background-color: white
				.event_arch_date
					-webkit-text-fill-color: black
					-webkit-text-stroke-color: transparent
				.event_arch_img
					opacity: 1
			*
				align-self: flex-end				
			.event_arch_date
				font-family: 'mala_b'
				font-size: 2em
				letter-spacing: .02em
				line-height: 2.5vw
				width: 15vw
				@include v.outline-text-black()
				// width: 13vw

			.event_arch_cato
				font-size: 1em
				line-height: 2.5vw
				width: 17vw

			.event_arch_title
				font-size: 1em
				line-height: 2.5vw
			.event_arch_img
				@include v.absolute()
				pointer-events: none
				opacity: 0
				img 
					max-width: 30vw
					max-height: 17vw 
					display: block
			.explode
				top: -125% !important
#main_ctner_list_upcoming, #main_ctner_list_archive
	padding-bottom: 3vw
	border-bottom: 0
	#upcoming_ctner
		padding-bottom: 5vw
