@font-face {
  font-family: "mala_r";
  src: url(../asset/font/MalayalamSangamMN.woff);
}
@font-face {
  font-family: "mala_b";
  src: url(../asset/font/MalayalamSangamMN-Bold.woff);
}
@font-face {

}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  position: -webkit-relative;
  font-weight: normal;
}

html {
  font-size: 12px;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f0f0f0;
  color: black;
}

h1 {
  font-size: 1em;
  /*font-weight: 400;*/
  /*font-size: 2rem;*/
  /*line-height: 1.05em;*/
}

h2 {
  /*font-size: 1.75rem;*/
  /*line-height: 1.05em;*/
  /*font-weight: 400;*/
}

h3 {
  /*font-family: antique-olive,sans-serif;*/
  /*font-weight: 400;*/
  /*font-style: normal;*/
  /*font-weight: 400;*/
  /*font-style: normal;*/
}

h4 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.05em;
}

h5 {
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 1.05em;
}

h6 {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5em;
}

a {
  color: #000;
  text-decoration: none;
  font-style: normal;
}

a:hover {
  /*font-style: italic;*/
}

.explode {
  position: absolute;
  position: -webkit-absolute;
  pointer-events: none;
  z-index: -1;
}

::-moz-selection {
  background-color: #f08;
  opacity: 1;
  color: #fff;
}

::selection {
  background-color: #f08;
  opacity: 1;
  color: #fff;
}


#title {
  position: fixed;
  top: 20px;
  left: 15px;
  font-size: 24px;
  /*display: inline-block;*/
}
#title a {
  /*font-style: normal;*/
}
#nav {
  /*display: grid;*/
  /*grid-template-columns: repeat(12, 1fr);*/
  /*grid-gap: 2vw;*/
  /*position: -webkit-fixed;*/
  position: fixed;
  /*top: 0;*/
  /*left: 0;*/
  top: 20px;
  z-index: 2000;
  width: 100vw;
  max-width: 100%;
  padding: 20px 15px;
  font-size: 24px;
  /*height: 100vh;*/
  /*background-color: #f0f0f0;*/
}
#menu_ctner {
      /*grid-column: 3/8 span;*/
  /*margin-top: 50px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*position: absolute;*/
  /*bottom: 75px;*/
}

#nav #menu_ctner a {
  /*font-size: 2rem;*/
  line-height: 28px;
  display: inline-block;
  -webkit-transition: max-height 0.35s;
  -moz-transition: max-height 0.35s;
  -ms-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
  max-height: 5vw;
}
#nav #menu_ctner a.active {
  /*font-style: normal;*/
}
#nav #menu_ctner a:hover {
  /*font-style: italic;*/
}
#nav #menu_ctner .menu_btn {
  cursor: pointer;
  /*display: inline-block;*/
}
#menu_btn_events{
  display: flex;
  flex-direction: column;
}
#nav.folded {
  border-bottom: none;
}
#nav.folded #menu_ctner a:not(.active) {
  max-height: 0;
  overflow: hidden;
}
#nav.folded:hover {
  border-bottom: 2px solid black;
}
#nav.folded:hover #menu_ctner a:not(.active) {
  max-height: 5vw;
  overflow: visible;
}

.logo_explodeCtner .explode {
  width: 100%;
  height: 10vw;
  top: -2vw;
}

.main_ctner {
  margin-bottom: 6vw;
  border-bottom: 2px solid #000;
  padding-top: 15vw;
}

.main_ctner_list {
  overflow: hidden;
}
.main_ctner_list .event {
  cursor: pointer;
  color: black;
  text-decoration: none;
  display: block;
}
.main_ctner_list #upcoming_ctner {
  padding: 0 5vw;
  padding-bottom: 2vw;
  margin-bottom: 2vw;
  border-bottom: 2px solid #000;
}
.main_ctner_list #upcoming_ctner::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.main_ctner_list #upcoming_ctner #upcoming_ctner_title {
  margin-bottom: 3vw;
}
.main_ctner_list #upcoming_ctner .event_upcoming .event_upcoming_img {
  position: absolute;
  position: -webkit-absolute;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
}
.main_ctner_list #upcoming_ctner .event_upcoming .event_upcoming_img img {
  max-width: 45vw;
  max-height: 27vw;
  display: block;
}
.main_ctner_list #upcoming_ctner .event_upcoming .event_upcoming_info {
  position: absolute;
  position: -webkit-absolute;
  right: 0;
  bottom: 1vw;
  max-width: 17vw;
}
.main_ctner_list #upcoming_ctner .event_upcoming .event_upcoming_date {
  white-space: nowrap;
  font-size: 24vw;
  line-height: 0.9em;
  max-height: 17vw;
  pointer-events: none;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: #f0f0f0;
}
.main_ctner_list #upcoming_ctner .event_upcoming:hover {
  z-index: 10;
}
.main_ctner_list #upcoming_ctner .event_upcoming:hover .event_upcoming_date {
  -webkit-text-fill-color: black;
}
.main_ctner_list #upcoming_ctner .event_upcoming:hover .event_upcoming_img {
  opacity: 1;
}
.main_ctner_list #upcoming_ctner .event_upcoming:nth-of-type(odd) .event_upcoming_info {
  margin-left: 1.5vw;
}
.main_ctner_list #upcoming_ctner .event_upcoming:nth-of-type(even) .event_upcoming_date {
  margin-left: 10vw;
}
.main_ctner_list .more {
  font-size: 1.25rem;
  color: black;
  margin: 0 auto;
  text-align: center;
  margin-top: 5vw;
  font-weight: 500;
}
.main_ctner_list .ctner_title {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0.5vw;
}
.main_ctner_list #arch_ctner {
  padding: 0 5vw;
  padding-bottom: 2vw;
}
.main_ctner_list #arch_ctner::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.main_ctner_list #arch_ctner .event_arch {
  display: flex;
  padding-top: 0.5vw;
  font-size: 2rem;
  padding-top: 1.5vw;
}
.main_ctner_list #arch_ctner .event_arch:hover {
  z-index: 10;
}
.main_ctner_list #arch_ctner .event_arch:hover .event_arch_date {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: transparent;
}
.main_ctner_list #arch_ctner .event_arch:hover .event_arch_img {
  opacity: 1;
}
.main_ctner_list #arch_ctner .event_arch * {
  align-self: flex-start;
}
.main_ctner_list #arch_ctner .event_arch .event_arch_date {
  /*font-family: "mala_b";*/
  /*font-family: filson-pro, sans-serif;*/
  font-family: ibm-plex-mono, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2em;
  letter-spacing: 0.02em;
  line-height: 0.75em;
  top: 0.75vw;
  width: 15%;
  margin-right: 2%;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.main_ctner_list #arch_ctner .event_arch .event_arch_cato {
  font-size: 1em;
  line-height: 2.5vw;
  width: 20%;
  margin-right: 2%;
}
.main_ctner_list #arch_ctner .event_arch .event_arch_title {
  font-size: 1em;
  line-height: 2.5vw;
  width: 55%;
}
.main_ctner_list #arch_ctner .event_arch .event_arch_img {
  position: absolute;
  position: -webkit-absolute;
  bottom: 0.5vw;
  pointer-events: none;
  opacity: 0;
}
.main_ctner_list #arch_ctner .event_arch .event_arch_img img {
  max-width: 30vw;
  max-height: 17vw;
  display: block;
}
#main_ctner_list_upcoming, #main_ctner_list_archive {
  padding-bottom: 3vw;
  border-bottom: 0;
}
#main_ctner_list_upcoming #upcoming_ctner, #main_ctner_list_archive #upcoming_ctner {
  padding-bottom: 5vw;
}

.year {
  margin-top: 1.5vw;
  margin-bottom: 0.5vw;
}
.year:first-child {
  margin-top: 0;
}

#no_upcoming_msg {
  display: inline-block;
  font-size: 0.25em;
  line-height: 0.9em;
  vertical-align: middle;
}

p {
  font-size: 1.5rem;
  line-height: 1.35em;
  margin-top: 0.5vw;
}

.caption, figcaption {
  font-size: 1rem;
}

.section_title {
  position: -webkit-sticky;
  position: sticky;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5vw 2vw;
  border-bottom: 2px solid black;
  padding: 0.5vw 0;
  width: 100%;
  padding: 0 5vw;
  -webkit-transition: padding 0.1s, transform 0.15s;
  -moz-transition: padding 0.1s, transform 0.15s;
  -ms-transition: padding 0.1s, transform 0.15s;
  -o-transition: padding 0.1s, transform 0.15s;
  transition: padding 0.1s, transform 0.15s;
  z-index: 500;
  background-color: #f0f0f0;
}
.section_title:first-of-type {
  margin-top: 0;
}

.section_content {
  padding: 3vw 5vw 6vw 5vw;
}

#title_title {
  width: 100vw;
  max-width: 100%;
  background-color: #f0f0f0;
  z-index: 500;
  border-bottom: none;
  margin-top: 8vw;
  z-index: 1000;
  -webkit-transition: padding-top 0.1s;
  -moz-transition: padding-top 0.1s;
  -ms-transition: padding-top 0.1s;
  -o-transition: padding-top 0.1s;
  transition: padding-top 0.1s;
}
#title_title > * {
  position: absolute;
  position: -webkit-absolute;
  top: 0;
  left: 0;
}
#title_title #title {
  grid-column: 3/7 span;
  font-size: 4.5rem;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#title_title #cato {
  grid-column: 1/2 span;
  margin-bottom: 0.5vw;
  line-height: 1.2em;
}
#title_title #info {
  line-height: 2em;
}
#title_title.folded {
  border-bottom: 2px solid #000;
  padding-top: 0vw;
}
#title_title.folded #title {
  grid-column: 3/7 span;
  grid-row: 1/1 span;
  font-size: 1.1rem;
  line-height: 1.5em;
  font-weight: 500;
}
#title_title.folded #cato {
  margin-bottom: 0vw;
}

.img_ctner {
  margin: 0.5vw 0;
}
.img_ctner img {
  max-height: 100vh;
  max-width: 100%;
}

#cato_website, #reference_website {
  grid-column: 1/3 span;
}

#cato_exhibit, #reference_exhibit {
  grid-column: 4/6 span;
}
#cato_exhibit .link_exhibit, #reference_exhibit .link_exhibit {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2vw;
}
#cato_exhibit .link_exhibit .exhibit_title, #reference_exhibit .link_exhibit .exhibit_title {
  grid-column: 1/4 span;
}
#cato_exhibit .link_exhibit .exhibit_info, #reference_exhibit .link_exhibit .exhibit_info {
  grid-column: 5/2 span;
}

#cato_reading, #reference_reading {
  grid-column: 10/3 span;
}

.bodyText .content_section div {
  line-height: 1.5em;
  font-size: 1.75rem;
  padding: 0;
}
.bodyText .content_section div:nth-of-type(even) {
  grid-column: 2/8 span;
}
.bodyText .content_section div:nth-of-type(odd) {
  grid-column: 1/8 span;
}

#reference_content {
  font-size: 1.5rem;
  line-height: 1.5em;
}

#main_ctner_upcoming {
  padding-top: 0;
}
#main_ctner_upcoming .section_title {
  grid-column: 1/12 span;
}
#main_ctner_upcoming .section_content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2vw;
}
#main_ctner_upcoming .info_cato {
  z-index: 500;
}
#main_ctner_upcoming #info_cato_time {
  grid-column: 1/3 span;
}
#main_ctner_upcoming #info_cato_location {
  grid-column: 4/9 span;
}
#main_ctner_upcoming #info_content {
  font-size: 2rem;
}
#main_ctner_upcoming #info_content #info_time {
  grid-column: 1/3 span;
}
#main_ctner_upcoming #info_content #info_location {
  grid-column: 4/9 span;
}
#main_ctner_upcoming #info_content #info_location .location {
  width: 50%;
  margin-bottom: 1vw;
}
#main_ctner_upcoming #info_content #info_location .address {
  font-size: 1.2rem;
  margin-bottom: 1vw;
}
#main_ctner_upcoming #about_title .info_cato {
  grid-column: 4/9 span;
}
#main_ctner_upcoming #about_content .img_ctner {
  grid-column: 4/8 span;
  margin: 0;
}
#main_ctner_upcoming #about_content .img_ctner img {
  max-height: 100vh;
  max-width: 100%;
}
#main_ctner_upcoming #about_content #about_text {
  grid-column: 4/8 span;
  font-size: 1.75vw;
  line-height: 1.5em;
}
#main_ctner_upcoming #about_content .content_section {
  grid-column: 4/9 span;
}
#main_ctner_upcoming .bodyText .content_section div {
  width: 80%;
}
#main_ctner_upcoming .bodyText .content_section div:nth-of-type(even) {
  margin-left: 15%;
}

#main_ctner_archive {
  padding-top: 0;
}
#main_ctner_archive .section_content {
  background-color: #f0f0f0;
}
#main_ctner_archive .section_content:nth-of-type(2) {
  margin-top: 4vw;
}
#main_ctner_archive .section_content .content_section {
  margin-top: 6vw;
}
#main_ctner_archive .section_content .subtitle {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1.1em;
  grid-column: 8/5 span;
  position: sticky;
  margin-left: 66.7%;
  top: 10vw;
  margin-bottom: 2vw;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#main_ctner_archive .section_content .img_ctner {
  grid-column: 1/9 span;
}
#main_ctner_archive #title_title {
  template-grid-rows: auto auto;
}
#main_ctner_archive #title_title.folded #location {
  max-height: 0;
  overflow: hidden;
}
#main_ctner_archive #title_title #info {
  grid-column: 10/3 span;
}
#main_ctner_archive #about_content #about_img {
  grid-column: 4/9 span;
  margin-bottom: 2vw;
}

#intro_content .content_section div {
  font-size: 1.75rem;
  width: 66.7%;
}
#intro_content .content_section div:nth-of-type(even) {
  margin-left: 10%;
}
#intro_content .img_ctner {
  width: 80%;
}
#intro_content .img_ctner img {
  width: auto;
  max-height: 75vh;
}

#main_ctner_resource {
  padding: 17.5vw 5vw 5vw 5vw;
}
#main_ctner_resource .resource_item {
  display: inline-block;
  max-width: 33%;
  margin-right: 1.5%;
  margin-bottom: 3%;
  background-color: #f0f0f0;
  border: 2px solid #fff;
  font-size: 3.5vw;
  vertical-align: top;
}
#main_ctner_resource .resource_item .reference_link {
  display: block;
  height: 100%;
  padding: 1.5vw;
  padding-bottom: 0.25vw;
}
#main_ctner_resource .resource_item .item_events {
  border-top: 2px solid #fff;
  font-size: 1.2rem;
  margin: 0 1.75vw;
  padding: 0 0.25vw 1.5vw 0.25vw;
}
#main_ctner_resource .resource_item .item_events p {
  font-size: 1.2rem;
}
#main_ctner_resource .resource_item .resource_explode {
  width: 100%;
  height: 100%;
  position: absolute;
  position: -webkit-absolute;
  top: 0;
  left: 0;
}
#main_ctner_resource .resource_item:hover {
  z-index: 10;
  border: 2px solid #000;
}
#main_ctner_resource .resource_item:hover .item_events {
  border-top: 2px solid #000;
}

#main_ctner_artist-index {
  padding: 12vw 0 6vw 0;
}
#main_ctner_artist-index #search_ctner {
  text-align: center;
  position: sticky;
  margin-bottom: 7vw;
  font-size: 2rem;
  z-index: 500;
  background: #f0f0f0;
}
#main_ctner_artist-index #search_ctner #search_form > * {
  vertical-align: bottom;
}
#main_ctner_artist-index #search_ctner #keyword {
  font-size: 2rem;
  border: 0;
  padding: 0.5vw 1vw 0.5vw 1vw;
  width: 40%;
  background-color: transparent;
  border-bottom: 2px solid #000;
}
#main_ctner_artist-index #search_ctner #keyword:focus {
  background-color: #fff;
  outline: none;
}
#main_ctner_artist-index #search_ctner #submit_search {
  width: 3vw;
  display: inline-block;
  vertical-align: bottom;
}
#main_ctner_artist-index #search_ctner .search_btn {
  cursor: pointer;
}
#main_ctner_artist-index #search_ctner .search_btn svg {
  width: 100%;
}
#main_ctner_artist-index #search_ctner .search_btn svg polygon {
  stroke: #000;
  stroke-width: 2;
  fill: transparent;
}
#main_ctner_artist-index #search_ctner .search_btn:hover polygon {
  fill: #000;
}
#main_ctner_artist-index #search_ctner #clear_search {
  display: inline-block;
  width: 3vw;
}
#main_ctner_artist-index #no_result {
  text-align: center;
  font-size: 2rem;
}
#main_ctner_artist-index #artist-index_list {
  padding-left: 5vw;
  padding-right: 5vw;
}
#main_ctner_artist-index #artist-index_list .artist-index_item {
  font-size: 1.2rem;
  padding: 0.75vw 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
#main_ctner_artist-index #artist-index_list .artist-index_item > * {
  display: inline-block;
  vertical-align: top;
}
#main_ctner_artist-index #artist-index_list .artist-index_item .item_name {
  cursor: pointer;
  width: 40%;
  padding-top: 0;
  font-weight: 500;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: #f0f0f0;
  font-size: 3rem;
  height: 100%;
  margin-right: 2%;
}
#main_ctner_artist-index #artist-index_list .artist-index_item .item_tag {
  width: 8%;
  margin-right: 2%;
}
#main_ctner_artist-index #artist-index_list .artist-index_item .item_link {
  width: 8%;
  display: none;
  margin-right: 2vw;
}
#main_ctner_artist-index #artist-index_list .artist-index_item .item_link > a {
  display: none;
}
#main_ctner_artist-index #artist-index_list .artist-index_item .item_link > a:first-child {
  display: inline;
}
#main_ctner_artist-index #artist-index_list .artist-index_item .item_brief {
  width: 35%;
  display: none;
  overflow: hidden;
  cursor: text;
}
#main_ctner_artist-index #artist-index_list .artist-index_item:hover {
  border-bottom: 2px solid #000;
}
#main_ctner_artist-index #artist-index_list .artist-index_item:hover .item_name {
  -webkit-text-fill-color: #000;
}
#main_ctner_artist-index #artist-index_list .artist-index_item.expanded {
  padding-bottom: 2vw;
}
#main_ctner_artist-index #artist-index_list .artist-index_item.expanded .item_name {
  -webkit-text-fill-color: #000;
}
#main_ctner_artist-index #artist-index_list .artist-index_item.expanded .item_brief {
  display: inline-block;
}
#main_ctner_artist-index #artist-index_list .artist-index_item.expanded .item_link {
  display: inline-block;
}
#main_ctner_artist-index #artist-index_list .artist-index_item.expanded .item_link > a {
  display: inline;
}

.explodeCtner_click .explode {
  left: 50%;
  -webkit-transform: translate(-35vw, 0);
  -moz-transform: translate(-35vw, 0);
  -ms-transform: translate(-35vw, 0);
  -o-transform: translate(-35vw, 0);
  transform: translate(-35vw, 0);
}

#main_ctner_artist-index.viewing_search .item_brief {
  display: block;
}

#main_ctner_about {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 6vw;
}
#main_ctner_about .about_col {
  display: inline-block;
  width: calc(50% - 2vw);
  margin-left: 2vw;
  vertical-align: top;
  font-size: 1.75rem;
  line-height: 1.5em;
}
#main_ctner_about .about_col:first-child {
  margin-left: 0;
}
#main_ctner_about .about_col div:nth-of-type(even) {
  margin-left: 10%;
}
#main_ctner_about .about_col li {
  margin-left: 1em;
}


/*# sourceMappingURL=exe.css.map */
