div[name='main_two'] div, div[name='qanda'] div{
	width:70%;
}

div[name='main_two'] div:nth-of-type(even), 
div[name='qanda'] div:nth-of-type(even)
{
	margin-left: 10%;
}

.subtitle{
	font-size:2em;
	line-height: 1.2em;
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	width: 30%;
	margin-left:68%;
}
figcaption{
	font-size: 0.9em;
	color: #AAA;
}

.address{
	font-size: 0.85em;
}